@import '../Variables.scss';
@import '../Mixins.scss';

.cart-element-amount-decrement {
  @include flexbox();
  width: 40px;
  height: 40px;
  font-size: 46px;
  margin-top: 30px;
  border: 1px solid $minus-plus-border-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: $minus-plus-color;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.cart-element-amount-decrement.disabled {
  border-color: $minus-plus-disabled-border-color;
  color: $minus-plus-disabled-color;
}