.cart-element-remove {
  width: 26px;
  height: 31px;
  cursor: pointer;
  background: url('../../images/bin_icon.png') no-repeat;
  align-self: flex-start;
  order: 1;
  position: absolute;
  right: 15px;
}